{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "functions": "./functions",
          "util": "./util"
        }
      }
    ]
  ]
}
